@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Mulish:wght@300;400;700&family=Playfair+Display:wght@700&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus:not(:focus-visible) {
  outline: none;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  border: none;
}

button {
  padding: 0;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

html,
body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #7D7987;
  background-color: #FFF;
  overflow-x: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.dn {
  display: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.lcl {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.trnct {
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.dfc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ttc {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.ttu {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #000;
}

a,
button {
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.header {
  padding: 43px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 34px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #B8BECD;
  margin-left: auto;
}

.menu__item ~ .menu__item {
  margin-left: 35px;
}

.menu__link:hover {
  color: #FB8F1D;
}

.menu__link-active {
  font-weight: 500;
  color: #202336;
}

.logo {
  width: 41px;
  height: 41px;
  display: inline-block;
}

.btn ~ .btn {
  margin-left: 18px;
}

.btn {
  font-size: 15px;
  min-width: 132px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 15px;
  border-radius: 8px;
}

.btn__login {
  color: #B8BECD;
  border: 1px solid #B8BECD;
  line-height: 16px;
}

.btn__login:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: #fafafa;
  color: #FB8F1D;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border: 0.2px solid rgba(184, 190, 205, 0.2);
}

.btn__register {
  background-color: #FB8F1D;
  color: #FFF;
  border: 1px solid transparent;
  line-height: 16px;
}

.btn__register:hover {
  -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
          transform: translateY(-2px);
  background-color: #ff7b00;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn__form {
  min-width: 180px;
  font-family: "Mulish", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 15px;
}

.hero {
  padding-top: 37px;
  position: relative;
}

.hero::after, .hero::before {
  content: '';
  display: block;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.hero::after {
  background-image: url("../../images/element3.svg");
  width: 20px;
  height: 20px;
  top: 13%;
  left: 44.4%;
}

.hero::before {
  background-image: url("../../images/element2.svg");
  width: 26px;
  height: 26px;
  top: 52.7%;
  left: 21.7%;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__content {
  width: 470px;
  padding-top: 33px;
}

.hero__title {
  font-size: 64px;
  font-family: "Playfair Display", sans-serif;
  line-height: 1.25;
  font-weight: 700;
  color: #202336;
  max-width: 356px;
  margin-bottom: 78px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__image {
  -webkit-transform: translateX(150px);
      -ms-transform: translateX(150px);
          transform: translateX(150px);
  max-width: 687px;
  width: 100%;
}

.form__title {
  color: #202336;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 48px;
}

.form__title::after {
  content: '';
  display: block;
  width: 32px;
  height: 2px;
  background-color: #202336;
  top: 0;
  left: 0;
  margin-top: 21px;
}

.form__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.form__item-wrap {
  position: relative;
  width: calc(50% - 30px);
  margin: 0 15px 35px;
  overflow: hidden;
  border-radius: 6px;
  border: 0.8px solid #AFB0B9;
}

.form__item-wrap::after {
  position: absolute;
  content: '';
  display: block;
  width: 55px;
  height: 100%;
  border-radius: 6px;
  background-color: #FFF;
  top: 0;
  right: 0;
  background-image: url("../../images/select_arrow.svg");
  background-repeat: no-repeat;
  background-position: center center;
  pointer-events: none;
}

.form__item {
  display: inline-block;
  font-size: 15px;
  padding: 16px 31px;
  color: #4A4C53;
  width: 100%;
}
