$accent-color: #FB8F1D;
$title-color: #202336;
$text-color: #7D7987;
$nav-color: #B8BECD;
$divider-color: #C4C4C4;
$border-color: #D7D7D7;
$footer-color: #F9F9FB;
$black: #000;
$white: #FFF;

$ff2: "Mulish", sans-serif;
$ff3: "Playfair Display", sans-serif;


@mixin lcl3 {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
}