.btn {
	font-size: 15px;
	min-width: 132px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 13px 15px;
	border-radius: 8px;



	&__login {
		color: $nav-color;
		border: 1px solid $nav-color;
		line-height: 16px;

		&:hover {
			transform: translateY(-2px);
			background-color: darken($white, 2%);
			color: $accent-color;
			box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
			border: .2px solid rgba($nav-color, .2);
		}
	}

	&__register {
		background-color: $accent-color;
		color: $white;
		border: 1px solid transparent;
		line-height: 16px;

		&:hover {
			transform: translateY(-2px);
			background-color: #ff7b00;
			box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
		}
	}

	&__form {
		min-width: 180px;
		font-family: $ff2;
		font-size: 17px;
		font-weight: 700;
		line-height: 24px;
		margin-top: 15px;
	}
}