.header {
	padding: 43px 0;

	&__inner {
		display: flex;
		align-items: center;
	}
	&__btn {
		display: flex;
		margin-left: 34px;
	}
}

.menu {

	&__list {
		display: flex;
		color: $nav-color;
		margin-left: auto;
	}

	&__item {
		&~&{
			margin-left: 35px;
		}
	}

	&__link {
		&:hover {
			color: $accent-color;
		}
	}

	&__link-active {
		font-weight: 500;
		color: $title-color;
	}
}

.logo {
	width: 41px;
	height: 41px;
	display: inline-block;
}

.btn {
	&~&{
		margin-left: 18px;
	}
}