.hero {
	padding-top: 37px;
	position: relative;

	&::after,
	&::before{
		content: '';
		display: block;
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	&::after{
		background-image: url('../../images/element3.svg');
		width: 20px;
		height: 20px;
		top: 13%;
		left: 44.4%;
	}
	&::before{
		background-image: url('../../images/element2.svg');
		width: 26px;
		height: 26px;
		top: 52.7%;
		left: 21.7%;
	}

	&__inner {
		display: flex;
	}

	&__content {
		width: 470px;
		padding-top: 33px;
	}

	&__title {
		font-size: 64px;
		font-family: $ff3;
		line-height: 1.25;
		font-weight: 700;
		color: $title-color;
		max-width: 356px;
		margin-bottom: 78px;
		@include lcl3;
	}

	&__img {
		display: flex;
		align-items: center;
	}

	&__image {
		transform: translateX(150px);
		max-width: 687px;
		width: 100%;
	}
}

.form {
	&__title {
		color: $title-color;
		font-size: 22px;
		font-weight: 600;
		margin-bottom: 48px;

		&::after {
			content: '';
			display: block;
			width: 32px;
			height: 2px;
			background-color: $title-color;
			top: 0;
			left: 0;
			margin-top: 21px;
		}
	}




	&__items {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
	}

	&__item-wrap {
		position: relative;
		width: calc(50% - 30px);
		margin: 0 15px 35px;
		overflow: hidden;
		border-radius: 6px;
		border: .8px solid $select-color;

		&::after {
			position: absolute;
			content: '';
			display: block;
			width: 55px;
			height: 100%;
			border-radius: 6px;
			background-color: $white;
			top: 0;
			right: 0;
			background-image: url('../../images/select_arrow.svg');
			background-repeat: no-repeat;
			background-position: center center;
			pointer-events: none;
		}
	}

	&__item {
		display: inline-block;
		font-size: 15px;
		padding: 16px 31px;
		color: $selectext-color;
		width: 100%;
	}

}